apiVersion: v1
kind: Secret
metadata:
  name: {{ k8s_app_name }}-secret
  namespace: {{ k8s_namespace }}
stringData:
  uri_mongo: mongodb://f5seconds:123456aA@45.119.80.100:27017/?authSource=admin&readPreference=primary&appname=MongoDB%20Compass&directConnection=true&ssl=false
  PREFIX: test1
  ENV: test