apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ k8s_app_name }}
  namespace: {{ k8s_namespace }}
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: sandapps.f5seconds.vn
    http:
      paths:
      - path: /{{ k8s_ingress_context }}
        pathType: Prefix
        backend:
          service:
            name: {{ k8s_app_name }}
            port:
              number: {{ k8s_container_port }}